{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Films</title>
      <link rel="stylesheet" href="{% static 'css/cinemaManager.css' %}">
  </head>
  <body>
    <div class="header">
      <div class="cinema-title">
        <a href="/"><img src="{% static 'css/uweCinemaLogo.png' %}" class="headerLogo"></a>
      </div>
      <nav class="navigate-tab">
          <a class="active" href="/">Home</a>
          <p>|</p>
          <a href="films">Films</a>
          <p>|</p>
          <a href="screenManagement">Screen Management</a>
          <p>|</p>
          {% if userIsAnonymous %}
            <a href="login">login</a>
          {% else %}
            <a href="logout">logout</a>
          {% endif %}
      </nav>
    </div> 
    <div class="container">
      <!-- main -->
      <div class="main">

        <!-- Processing Orders -->
        <div class="details">
          <div class="clubDetails">
            <div class="cardHeader">
              <h2>Screen Management</h2>
              <a href="addScreenPost" class="btn">  +</a>
            </div>
            <table>
              <thead>
                <tr>
                  <td>Screen No</td>
                  <td>Capacity</td>
                  <td>Use By</td>
                </tr>
              </thead>
              {% block content %}
              {% for screen in screens %}
                <tr data-href="/screenManagement/modify-screen/{{screen.id}}">
                  <td>{{screen.roomNo}}</td>
                  <td>{{screen.capacity}}</td>
                  <td>None</td>
                </tr>
              {% endfor %}
              {% endblock content %}
            </table>
          </div>

          
        </div>

        

      </div>
    </div>
      
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <script>
      // It Loaded the href with the according ID
      document.addEventListener("DOMContentLoaded", ()=>{
        const rows = document.querySelectorAll('tr[data-href]');
        
        rows.forEach(row =>{
          row.addEventListener("click",()=>{
            window.location.href = row.dataset.href;
          })
        })
      })
    </script>
  </body>
</html>